html {
    background-color: whitesmoke;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-y: hidden;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: "Slack-Lato";
    margin:0 0 1rem;
    letter-spacing: -1px;
}

.full_height {
    height:100%
}

.no_margin {
    margin:0!important
}

img#slack_logo {
    flex-grow: 0;
}

#slack_logo {
    margin: 1rem;
    width: 120px;
    height: 37px;
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}

/*Create a new Team section */
#email_form_body{
    width: 100%;
    padding-top: 0px;
    padding-right: 12%;
    padding-bottom: 0px;
    padding-left: 12%;
    position: relative;
    align-self: center;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    color: #434245;
    word-wrap: break-word;
}

#email_form_body h1{
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

#email_form_body #email_label {
    margin-bottom: 0.5rem;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    cursor: default;

}


body {
    background: #f9f9f9;
    font-size: 1.125rem;
}

body, html {
    width: 100%;
    overflow-x:hidden;
}

body.full_bleed #page_contents {
    width:auto;padding:0
}

body.full_bleed section:first-of-type {
    padding-top:8rem
}

.fs_split {
    position:absolute;
    overflow:hidden;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#e8e8e8;
    -webkit-transition:background-color .2s ease-out 0s;
    -moz-transition:background-color .2s ease-out 0s;
    transition:background-color .2s ease-out 0s
}

.fs_split_pane {
    height: 100%;
}

.fs_split_pane .fs_split_flex_wrapper {
    position:relative;
    min-height:100%;
    font-size:1rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    -moz-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;
    -ms-flex-pack:justify;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between
}


#signup_wrapper {
    position: relative;
}

.fs_split_pane_left {
    background-color: #fff;
    color: #434245;
    width: 50%;
    min-width: 486px;
    max-width: 624px;
    float: left;
    z-index: 1;
    overflow-y: auto;
    word-wrap: break-word;
}

.fs_split_pane_left>*{
    flex:1 0 auto
}
.fs_split_pane_left .fs_split_header{
    text-align:left
}
.fs_split_pane_left .fs_split_body{
    width:100%
}


@media only screen and (max-width:767px) {
    body.full_bleed section:first-of-type {
        padding-top:7rem
    }
}
@media only screen and (max-width:640px) {
    body.full_bleed section:first-of-type {
        padding-top:3rem
    }
}
@media only screen and (max-height:44rem) and (min-width:767px){.fs_split{display:table;overflow:scroll}
    .fs_split .fs_split_pane{display:table-cell;vertical-align:top;overflow:hidden!important}
    .fs_split .fs_split_pane_right{width:100%}
    .fs_split .fs_split_pane_right .fs_split_flex_wrapper{height:100%}
    .fs_split .fs_split_pane_left{min-height:100%;width:486px}
}
@media only screen and (max-width:767px){.fs_split .fs_split_pane h1{font-size:2.25rem}
    .fs_split .fs_split_pane .fs_split_flex_wrapper{display:block;max-height:initial;max-width:420px;margin:auto}
    .fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_body{padding:0 1rem 3rem}
    .fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_mini_header{display:block}
    .fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_footer{padding:.5rem 1rem}
    .fs_split .fs_split_pane_left{width:100%;min-width:inherit;max-width:inherit;overflow:scroll;-webkit-overflow-scrolling:touch}
    .fs_split .fs_split_pane_right{display:none}
    .fs_split .fs_split_pane_full_width .fs_split_flex_wrapper .fs_split_body{padding:0 1rem}
    #generic_dialog{margin:0!important;width:75%;left:12.5%;right:12.5%;bottom:initial}
    #generic_dialog .modal-footer a{width:100%;margin:.5rem 0!important}
}

#find_team_mobile {
    -webkit-align-self:flex-start;
    -moz-align-self:flex-start;
    -ms-flex-item-align:flex-start;
    align-self:flex-start;
    text-align:center;
    padding:.5rem;
    width:100%;
    max-width:100%;
    border-bottom:1px solid #e8e8e8;
    font-size:.8rem;
    line-height:1rem
}
#find_team_mobile_link {
    text-decoration:underline;
    color:#434245
}

.show_on_mobile{display:none!important}
@media only screen and (max-width:768px){.hide_on_mobile{display:none!important}
    .show_on_mobile{display:block!important}
    .show_on_mobile.inline{display:inline!important}
    .align_center_mobile{text-align:center}
}

.ts_icon_arrow_right:before{content:'\E286'}

.ts_icon_arrow_right_medium:before{content:'\E290'}

