$family-primary: "Oxygen", sans-serif;

$bambee_purple_light: #7E6A96;
$deep_gray: #ADA8B3;
$chill_gray: #C5C1CA;
$simple_gray: #DEDAE2;
$light_gray: #F5F2F7;
$subtle_gray: #F7F7F7;
$subtle_grey: #F7F7F7;
$lavender_grey: #F5F2F7;

$input_border_active: #7E6A96;
$Input_border_non_active: #BCB6C3;

$purple: #694981;
$yellow: #F1C644;
$blue: #2894C5;
$blue-light: #E6F7FF;
$red: #E16262;
$green: #25BA86;
$green-light: #92DCC2;
$green-dark: #0C9C6A;

$grey-darkest: #59565d;
$grey-darker: #908B97;
$grey-dark: #ADA8B3;
$grey: #C5C1CA;
$grey-light: #DEDAE2;
$grey-lighter: #EAE7ED;
$grey-lightest: #F9F9F9;

$dark: #3A2B4B;

$primary: $purple;
$secondary: $yellow;
$text: $primary;
$text-strong: $grey-darkest;

$link: $blue;

$mobile: 768px;
$tablet: 768px;
$desktop: 1280px;
$widescreen: 1680px;

