<div id="signup_flow" class="full_height fs_split">
  <div id="signup_wrapper" class="fs_split_pane fs_split_pane_left">
    <div id="find_team_mobile" class="show_on_mobile">
      <span>Join our Calender Experience Today!</span>
      <a href="/register" id="find_team_mobile_link">Mark your Calendar Today!</a>

    </div>
    <form class="fs_split_flex_wrapper" onsubmit="return false;">
      <a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">
        <img id="slack_logo" src="https://slack.global.ssl.fastly.net/66f9/img/slack_logo_240.png" width="120" height="137" title="Slack">
      </a>
      <div id="email_form_body" class="fs_split_body">
        <h1>Create a new team</h1>
        <label id="email_label"><span class="normal">Your</span>"email address"</label>
        <input type="text" placeholder="email@emaildomain.com" id="signup_email" data-qa="email_field" spellcheck="false" aria-labelledby="email_label" data-email-healing="true">
        <p class="error_message"></p>
      </div>
      <div id="submit" class="fs_split_footer">
        <div class="button_container">
          <button id="submit_btn" class="btn btn_large ladda-button" disabled="disabled" aria-disabled="true" data-style="expand-right" data-qa="submit_button">
            <span class="ladda-label">
              "Next"
              <ts-icon class="ts_icon_arrow_right" aria-hidden="true"></ts-icon>
            </span>
          </button>
        </div>


      </div>
    </form>



  </div>
  <div id="signup_graphics_pane" class="fs_split_pane fs_split_pane_right" style="background-color: #21b2fe;">
    <div class="fs_split_flex_wrapper">
      <div class="fs_split_header">
        <div id="find_team">
          <span>Mark your Shalendar Today!</span>
          <a href="/register" id="find_team_link">Save the Date!</a>
        </div>

      </div>
      <div id="signup_graphics_container" class="fs_split_body">
        <div id="signup_graphics" class="fs_split_graphics" style="background-image: url('/img/image01.png')">
        </div>
      </div>
      <div class="fs_split_footer">

      </div>
    </div>




  </div>






</div>