<div id="main_p" class="panel_main columns is-flex">
  <div id="left_p" class="panel_left column is-5">
    <div id="left_p_header" class="image_logo column">
      <img id="slack_logo" src="https://slack.global.ssl.fastly.net/66f9/img/slack_logo_240.png" width="120" height="137" title="Slack">
    </div>
    <div id="left_p_body" class="column is-10 is-offset-1">
      <div class="box_container">
        <h1>Create your team</h1>
        <label class="label">Your <strong>email address</strong></label>
        <input type="text" class="input">
      </div>
    </div>
    <div id="left_p_footer" class="left_p_footer column is-8 is-offset-2">
      <div id="email_checkbox">
        <input type="checkbox" id="email_check">
        <label for="email_check">It's okay to send me (very occasionally) spam
        email about Shalendar service
        </label>
      </div>
      <div class="button_class" style="text-align: center;">
        <a class="button is-primary modal_on">Next</a>
      </div>

    </div>
  </div>


  <div id="right_p" class="panel_right column is-7">
    <div id="right_p_header" class="column is-12">
      <div class="nest_container is-pulled-right">
        <label>Mark your Shalendar Today!</label>
        <a href="/register" class="btn" id="find_team_link">Save the Date!</a>
      </div>
    </div>
    <div id="right_p_body" class="left_p_body">
      <div class="column is-8 is-offset-2">
        <img src="/img/image01.png">
      </div>

    </div>
    <div id="right_p_footer" class="left_p_footer">
      <div class="box_container column is-half is-offset-one-quarter" style="text-align: center;">
        random text here
      </div>
    </div>

  </div>


  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete close_modal"></button>
      </header>
      <section class="modal-card-body">
        <h2>Hello Everyone</h2>
        <p>This is a new modal that I created using Bulma</p>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-primary">Save changes</a>
        <a class="button close_modal">Cancel</a>
      </footer>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.modal_on').on('click', function(){
      $('.modal').addClass("is-active");
    })

    $('.close_modal').on('click', function(){
      $('.modal').removeClass("is-active");
    })

    $('.modal-background').on('click', function(){
      $('.modal').removeClass("is-active");
    })

  })



</script>