<section class="hero is-fullheight fold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p>Login</p>

      <form role="form" method="POST" class="form-horizontal" action="/user/login">


        <input type="text" name="email" id="email" class="input" value="<%= params[:email] %>">

        <input type="password" name="password" id="password" class="input" value="<%= params[:password] %>">


        <button type="submit" class="input">Login</button>

      </form>

      <p>Or click here to <a href="/user/register">Sign Up</a></p>
    </div>
  </div>
</section>
