<section class="hero is-fullheight fold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">The World's First API <br>Friendly Calendar</h1>
      <p>Public. Shareable. And Engaging.</p><br/>
      <a class="button is-primary is-large is-expanded check-prices">CHECK OUR PRICES</a><br/><br/><a>Watch the video</a>
    </div>
  </div>
</section>