<!DOCTYPE HTML>
<html>

  <head>

    <title>Shalendar | <%= @user[:username] %></title>

    <!-- jquery -->
    <script src='/fc/lib/jquery.min.js'></script>

    <!-- utilities -->
    <script src='/fc/lib/moment.min.js'></script>

    <!-- vue -->
    <script src='/bower_components/vue/dist/vue.min.js'></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- sweetalert -->
    <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
    <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>

    <!-- fc -->
    <link href='/fc/fullcalendar.css' rel='stylesheet' />
    <link href='/fc/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='/fc/fullcalendar.min.js'></script>

    <!-- css -->
    <!--<link rel="stylesheet" href="/assets/css/styles.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="/site/css/site.css">
    <!-- webpack -->
    <!-- <script src='//webpack.shalendar.docker/static/bundle.js'></script> -->


  </head>

  <body class="calendar">
    <div id="app" class="full_height">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item is-brand" href="#">
            <img src="/assets/images/logo.png" alt="Shalendar logo" style="max-height:50px;">
          </a>

        </div>

        <div class="nav-right nav-menu">

        <span class="nav-item">
        <a class="button" >
          <span class="icon">
            <i class="fa fa-cog"></i>
          </span>
          <span>Setting</span>
        </a>
        <a class="button is-primary" href="/user/logout">
          <span>Logout <%= @user[:username] %></span>
        </a>
      </span>
        </div>
      </nav>
      <div class="columns full_height" style="margin: 0px;">

        <!-- left -->
        <div id="cal_left_pane" class="column is-narrow left-calendar box">
          <div class="boxes" style="width: 250px; box-shadow: 0;">
          <!-- <input type="text" class="form-control" placeholder="Search"> -->
            <div class="cal_left_head">
              My Calendars  ({{calendars.length}})
              <span class="left-add-calendar" @click="add_calendar" v-if="has_access()">+</span>
            </div>

            <div class="cal_left_body">
              <ul>
                <li :class="is_active_calendar('all')">
                  <!-- <i class="fa fa-calendar-o" aria-hidden="true"></i> -->
                  <a class="overflow_ellipsis" @click="set_active_calendar()">&nbsp; All</a>
                </li>
                <ul>
                  <li class="overflow_ellipsis" v-for="calendar in calendars" :class="is_active_calendar(calendar)">
                    <!-- <i class="fa fa-circle" aria-hidden="true"></i> -->
                    <a href="#" @click.prevent="set_active_calendar(calendar)" >&nbsp; {{calendar.name}}</a>
                  </li>
                </ul>

              </ul>

            </div>
          </div>

        </div>

        <!-- middle -->
        <div id="cal_middle_pane" class="column box">
          <div class="column is-12">

            <div class="columns">
              <div id="calendar" class="column is-12" style="height: 700px;">
                <event-modal id="modal_event" v-if="modal_event" :save_event="save_event" :delete_event="delete_event" :active_calendar="active_calendar" :cal="cal" :close_event="close_event" :active_event="active_event" @close="modal_event = false"></event-modal>
              </div>
            </div>

          </div>

        </div>

        <!-- end middle -->

      </div>
    </div>


    <script type="text/x-template" id="event-modal-template">
      <transition name="modal">
        <div class="modal-mask" @click="$emit('close')">
          <div class="modal-wrapper" style="height: 100%;">
            <div class="modal-container" @click.stop>
              <div class="modal-body">
                <slot name="body">

                  <form @submit="save_event">

                    <h3>What Happened On This Day?</h3>
                   
                    <label class="label">What</label>
                    <p class="control">
                      <input id="active_event_title" v-model="active_event.title" class="input is-info" type="text" placeholder="A short sentence describing the event">
                    </p>

                    <div class="event_extra_actions">
                    <a :class="{'is-active': show_description || active_event.description}" @click="show_description = show_description ? false : true">add description</a>
                    <a :class="{'is-active': show_location || active_event.location}" @click="show_location = show_location ? false : true">add location</a>
                    </div>

                    <p v-if="show_description || active_event.description" class="control has-icon has-icon-right">
                      <textarea v-model="active_event.description" class="textarea" placeholder="Describe what happened"></textarea>
                    </p>
                    
                    <p v-if="show_location || active_event.location" class="control has-icon has-icon-right">
                      <input v-model="active_event.location" class="input" type="text" placeholder="city or location">
                    </p>
                    
                    <div class="modal_action">
                      <button class="button is-info is-outlined modal-default-button" :class="{'is-loading': active_event.loading}">
                        Save Event
                      </button>

                      <a v-if="active_event.id" @click="delete_event(active_event.id)" class="is-pulled-right button is-danger is-outlined modal-default-button" :class="{'is-loading': active_event.loading}">
                        Delete
                      </a>
                    </div>
                  </form>

                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>


    <script>

      Vue.component('event-modal', {
        template: '#event-modal-template',
        data: function(){
          return {
            show_description: false,
            show_location: false
          }
        },
        props: ['active_event', 'active_calendar', 'close_event', 'save_event', 'delete_event', 'date', 'cal']
      })

     new Vue({
       el: '#app',
       data: {
         user: <%== @user.to_json %>,
         current_user: <%== @current_user.to_json %>,
         calendars: [],
         active_calendar: null,
         eventsources: [],
         cal: {},
         events: [],
         modal_event: false,
         active_event: {}
       },

       mounted: function(){
         this.get_calendars();
         this.init_calendar();
         this.set_active_calendar();
         //this.get_events();
       },

       methods: {

         save_eventsource: function(source){
           this.eventsources.push(source);
           this.cal.fullCalendar('addEventSource', source)
         },

         remove_eventsource: function(source){
           var idx = $.inArray(source, this.eventsources)
             console.log(idx)
             this.cal.fullCalendar('removeEventSource', source);
         },

         has_access: function(){
           if(!this.current_user) return false
           if(this.user.id == this.current_user.id){
             return true
           }
         },

         is_active_calendar: function(calendar){
           if(this.active_calendar && (this.active_calendar.id == calendar.id) ){
             return 'active'
           }
           if(calendar == 'all' && !this.active_calendar) return 'active'
         },

         unset_calendar: function(calendar){
           this.active_calendar = null;
           this.eventsources = []
           this.cal.fullCalendar('removeEventSources')
             this.cal.fullCalendar('removeEvents')
         },

         set_active_calendar: function(calendar){

           this.unset_calendar(calendar);

           if(calendar){
             console.log('active calendar', calendar)
               this.active_calendar = calendar;
             this.save_eventsource("/api/events?user_id="+this.user.id+"&calendar_id="+calendar.id);
             //this.cal.fullCalendar.refetchEvents();
             location.hash = calendar.name
           }else{
             this.save_eventsource("/api/events?user_id="+this.user.id);
             location.hash = ''
           }
           console.log(this.eventsources)
         },

         get_calendars: function(){
           var _this = this
           $.get("/api/calendars", {user_id: this.user.id}, function(res){
             _this.calendars = res
             console.log(res)
           })
         },

         add_calendar: function(){
           var _this = this
           swal({
             title: "Add a calendar",
             text: "What do you want to call it?",
             type: "input",
             showCancelButton: true,
             closeOnConfirm: false,
             animation: "slide-from-top",
             inputPlaceholder: "Write something"
           }, function(calendar_name){
             if (calendar_name === false) return false
             if (calendar_name === "") {
               swal.showInputError("You need to write something!")
                 return false
             }

             var color = '#e6ecf1'

             $.post("/api/calendar", {user_id: _this.user.id, name: calendar_name, color: color }, function(res){
               swal("Nice!", "You just created a calendar: " + calendar_name, "success")
                 _this.get_calendars()
             })

           })
         },

         init_calendar: function(){
           var _this = this
           console.log('init calendar')
             var cal = $('#calendar')
             _this.cal = cal

           cal.fullCalendar({
             defaultDate: moment(),
             editable: true,
             eventLimit: true, // allow "more" link when too many events
             aspectRatio: 2.5,
             firstDay: 1,
             fixedWeekCount: false,

             header: {
               left: 'prev,next today',
               center: 'title',
               right: 'listDay,listWeek,month'
             },
             views: {
               listDay: { buttonText: 'day' },
               listWeek: { buttonText: 'week' }
             },
             displayEventTime: false,
             dayClick: function (date, jsEvent, view) {
                var event = { date: date }
                console.log('day clicked')
                _this.show_add_event(event)
             },
             eventClick: function(calEvent, jsEvent, view) {
              var event_id = calEvent.id
              if(event_id){
                $.get("/api/event", {id: event_id, user_id: _this.user.id}, function(res){
                  console.log('from /api/event', res)
                  _this.show_edit_event(res, calEvent)
                })
              }
              
             },
             eventDrop: function(event, delta, revertFunc) {

               alert(event.title + " was dropped on " + event.start.format());

               if (!confirm("Are you sure about this change?")) {
                   revertFunc();
               }

             }

             //events: "/api/events?user_id="+_this.user.id,
             //eventSources: _this.eventsources,

           });

         },

         show_add_event: function(event){
           this.active_event = event
           var _this = this

           // if calendar selected, add calendar_id to payload
           if(this.active_calendar) this.active_event.calendar_id = this.active_calendar.id
          

           // set date
           this.active_event.start = this.active_event.date.utc().format()           
           //this.active_event.end = this.active_event.date.utc().add(1, 'day').format()           

           console.log('show_add_event active_event', this.active_event)
           if (this.user.id == this.current_user.id){
             this.modal_event = true
             setTimeout(function(){
               $("#active_event_title").focus();
             }, 500)
           }
         },

         show_edit_event: function(event, calEvent){
          this.active_event = event
          this.active_event.calEvent = calEvent
          console.log('show edit event', event)         

          console.log('show_add_event active_event', this.active_event)
           if (this.user.id == this.current_user.id){
             this.modal_event = true
             setTimeout(function(){
               $("#active_event_title").focus();
             }, 500)
           }
         },

         close_event: function(){
           this.modal_event = false
         },

         save_event: function(){

           var _this = this
           var event_id = _this.active_event.id || null

           if (_this.active_event) {

            _this.active_event.loading = true

            console.log('active_event', _this.active_event)

             // setup payload
             var data = {
               id: _this.active_event.id || null,
               calendar_id: _this.active_event.calendar_id || null,
               title: _this.active_event.title,
               start: _this.active_event.start,
               end: _this.active_event.end,
               description: _this.active_event.description || null,
               location: _this.active_event.location || null
             }

             $.each(data, function(k, v){
               $.each(_this.active_event.calEvent, function(k2, v2){
                 if(k == k2){
                  _this.active_event.calEvent[k] = v    
                 }
               })
               
             })

             // post to /api/event
             console.log('/api/event', data)
             $.post('/api/event', data, function (res) {
               _this.close_event()

               if(event_id){
                 _this.cal.fullCalendar('updateEvent', _this.active_event.calEvent);  
               }else{
                 _this.cal.fullCalendar('renderEvent', res);
               }
               
               //swal("Nice!", "Event has been posted on your calendar", "success");
             })

           }
         },

         delete_event: function(id){
           var _this = this
           $.post('/api/event/delete', {id: id}, function(res){
             if(res.code == 200){
                _this.cal.fullCalendar('removeEvents', [id])
                _this.close_event()
             }else{
                alert('something went wrong')
             }
             
           })
         } 

       }
     })

    </script>


  </body>

  
</html>
