@font-face {
    font-family: lato-light;
    src: url(/site/font/lato-light.woff2);
}


html {
    height: 100vh;
    font-family: lato-light;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
.full_height {
    height: 100%;
}

#main_p{
    min-height: 100%;
    background-color: #21b2fe;
    margin: 0;
}

/*left pane */

#left_p{
    min-height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

img#slack_logo {
    flex-grow: 0;
    background-image: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin: 1rem;
    width: 120px;
    height: 37px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}


#left_p_body {
    margin-bottom: 150px;
}

#left_p_body h1{
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
    font-family: lato-light;
}
#left_p_body label{
    font-weight: 700;
    margin: 0 auto;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: lato-light;
}
#left_p_body input{
    font-size: 1.25rem;
    line-height: normal;
    padding: 0.75rem;
    border: 1px solid #c5c5c5;
    fborder-radius: 0.25rem;
    outline: 0;
    color: #555459;
    width: 100%;
    max-width: 100%;
    margin:0 0 0.5rem;
    height: auto;
    font-family: lato-light;
}

.left_p_footer #email_checkbox{
    margin-bottom: 0px;
}
.left_p_footer input {
    display: inline;
    margin:3px 3px 3px 4px;
    word-wrap: break-word;
}
.left_p_footer label {
    font-size: 1rem;
    line-height: 1.5rem;
    display: inline;
    text-align: center;
}

.left_p_footer .button_class{
    margin-bottom: 0px;
}


/* right pane */

#right_p{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: lato-light;
}

#right_p_header label {
    font-weight: 600;
    color: #fff;
}


/* modal style stuff*/
.modal footer {
    margin-top: 0px;
}



/*unnecessary stuff */
#find_team_link{font-weight:700;color:#fff;padding:.5rem 1.25rem;line-height:3rem;border:1px solid #fff;text-decoration:none;border-radius:.25rem;-webkit-transition:background .1s ease-out 0s;-moz-transition:background .1s ease-out 0s;transition:background .1s ease-out 0s;margin-left:.5rem}
#find_team_link:hover{background:#fff;color:#555459!important}






.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-leave-active {
  display: none;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

/* modal css stuff */
* {
    box-sizing: border-box;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modal-container {
    width: 40%;
    min-height: 30%;
    max-height: 80%;
    overflow: auto;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    padding-bottom: 100px;
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}


.modal-body h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-body label {
    text-align: left;
    padding: 0;
}

.text-right {
    text-align: right;
}

.form-label {
    display: block;
    margin-bottom: 1em;
}

.form-label > .form-control {
    margin-top: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    line-height: 1.5;
    border: 1px solid #ddd;
}

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/**************************/

.error_message { color: red; margin-top: 20px;}


/** calendar left pane **/
#cal_left_pane{
    position: relative;
    height: 90%;
    width: 200px;
    background-color: #ffffff;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-right: 0px;
}

.cal_left_head {
    display: block;
    color: #ab9ba9;
}

.cal_left_body {
    display: block;
    margin-left: 25px;
    min-height: 95%;

}

.cal_left_footer {
    display: block;

}

.boxes {
    display: block;
    padding: 0px;
}

.card .content {
    display: inline;
}

#cal_middle_pane {
    height: 90%;
    margin-top: 10px;
    margin-right: 10px;
}

.overflow_ellipsis {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
}

.overflow_ellipsis:hover {
    background-color: #4c9689;
}

.overflow_ellipsis:active {
    background-color: #4c9689;
}

/************************/
